.gallery {
    border: 1px solid #ccc;
    width: 60%;
    overflow: hidden;
}

.ffiler_img>img {
    width: 100%;
    height: 100%;

}

.gallery_popup_img {
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    background-color: #ccc;
    display: none;
    height: 100%;
}

.ffiler_img {
    float: left;
    display: block;
    text-decoration: none;
    outline: none;
    border: 1px solid #ccc;
    display: none;
    cursor: pointer;
    margin: 5px;
    width: 100px;
    height: auto;
    text-align: center;
}

.ffiler_wrap {
    width: 100%;
    float: left;

}

.ffiler_dummy {
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.ffiler_file_wrap {

}

.gallery_delete_btn {
    position: absolute;
    display: none;
    opacity: 0.8;

}

/*.gallery_delete_btn button{*/
/*width: 16px;*/
/*height: 16px;*/
/*}*/

.gallery_delete_btn:hover {
    opacity: 1;
}

.gallery_delete_btn .btn {
    margin: 0px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.filler_img_wrap.sortable-dragging {
    zoom: 1.2;
}

.sortable-placeholder {
    border: 1px solid rgba(72, 72, 72, 0.99);
    background-color: #ececec;
    float:left;
    margin: 5px;
}
